version: '3'

services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    user: 1000:1000
    ports:
      - 8082:80
    volumes:
      - ./dossier_classe:/srv
      - ./filebrowser.db:/database.db
      - ./.filebrowser.json:/.filebrowser.json
    environment:
      - FB_DATABASE=/database.db
      - FB_ROOT=/srv
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
