{
    # Active le HTTPS local (pas besoin de nom de domaine payant)
    local_certs
}

# --- HEIMDALL ---
heimdall.ciel.lan {
    tls internal
    reverse_proxy heimdall:80
}

# --- GLANCES ---
glances.ciel.lan {
    tls internal
    reverse_proxy glances:61208
}

# --- FILEBROWSER ---
files.ciel.lan {
    tls internal
    reverse_proxy filebrowser:80
}

# --- IT-TOOLS ---
tools.ciel.lan {
    tls internal
    reverse_proxy it-tools:80
}

# --- PORTAINER ---
portainer.mciel.lan {
    tls internal
    reverse_proxy portainer:9000
}

# --- ADGUARD ---
adguard.ciel.lan {
    tls internal
    # AdGuard utilise le port 80 pour l'interface web à l'intérieur du conteneur
    reverse_proxy adguard:80
}
