services:
  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - reseau_ciel

networks:
  reseau_ciel:
    external: true


volumes:
  caddy_data:
  caddy_config:
