services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    user: 1000:1000
    environment:
      - FB_DATABASE=/database.db
      - FB_ROOT=/srv
      - FB_BASEURL=/fichiers
      # ^^^ C'est LA ligne la plus importante pour Nginx
    networks:
      - reseau_ciel
    volumes:
      - ./dossier_classe:/srv
      - ./filebrowser.db:/database.db
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

networks:
  reseau_ciel:
    external: true
