services:
  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - reseau_ciel

networks:
  reseau_ciel:
    external: true
